*{box-sizing:border-box;}
body{
    background-color: whitesmoke;
}
.header{
    display: flex;
    align-items: center;
    padding: 1%;
    
}

a{
    border-style: none;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    
    
    
}
a:hover{
    border-top: solid;
    border-color: inherit;
    
}
.login:hover{
    color: blue;
}

.login{
    display:flex;
    margin-left: 40%;
    text-align: center;
    flex: 1; 
      
}
.loginbtn{
    margin-left: 20px;
    align-items: center;
    margin-bottom: 5px;
}


.nav-bar{
    background-color: blueviolet;
    padding: 20px;
}
img{
    width: 80px;
    
}
#g1{
    text-align: center;
    background-color:#c50404;
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    align-items: center;
    padding: 1%;
}
.mainpage{

    background-color: brown;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
#footer{
    background-color: #c50404;
    padding: 2%;
}